* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color:#020617 !important;
  color: var(--text);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #06420d;
}

.register-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-box {
  width: 70%;
  background-color:#ffffff;
  padding: 45px;
  border-radius: 12px;

}

.register-box h2 {
  margin-bottom: 25px;
  text-align: center;
  color: white;
}

.register-box input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

.register-box input:focus {
  outline: none;
  border-color: #3bb54a;
}

.register-box button {
  width: 100%;
  padding: 14px;
  border: none;
  background-color: #050b2b;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
}

#googleBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

#googleBtn img{
  width: 22px;
  height: 22px;
}


.text {
  text-align: center;
  margin: 20px 0;
  color: white;
  font-size: 16px;
}

.login-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color:#ddd
}

.login-link a {
  color:white;
  text-decoration: none;
}
.footer-bottom {
    border-top: 1px solid #334155;
    padding-top: 20px;
    font-size: 14px;
    opacity: .7;
    text-align: center;
}